body{
    background-color: #18206f;
    margin: 0%;
    height: 100%;
}


/*estrutura das compras----------------------------------------------------------*/
.organização{
    display: flex;
    flex-direction: row;
    min-height: 100px;
    
}
.lateraldivUp{
    border-bottom: solid #000000;
    position: solid;
    margin: 0%;
    padding: 1%;
}
.lateraldivL{
    
    position: solid;
    margin: 0%;
    padding: 1%;
    width: 15%;
    height: 100%;
    min-height: auto;
}
.lateraldivR{
   
    position: solid;
    margin: 0%;
    padding: 1%;
    width: 15%;
    height: 100%;
}
.lateraldivdown{
    border-top: solid #000000;
    position: solid;
    margin: 0%;
    padding: 1%;
}
.tela{
    width: 70%;
    min-height: 100px;
    border-left: solid #000000;
    border-right: solid #000000;

}
.titulo{
    color: #d4af37;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 0% 2% 2%;
}
/*estrutura das compras-----------------------------------------------------------*/