header {
    background-color: #d4af37;
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1em 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
  
    background-color: #18206f;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-width: 300px;
    background-color: #d4af37;
}

.cart-item img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}

.cart-item div {
    flex-grow: 1;
}

#checkout-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


.dot {
    position: absolute;
    background-color: #ffffff;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}

.dot.left {
    top: 25%;
    left: 5%;
    animation: moveDot 2.5s ease-in-out infinite alternate;
}

.dot.right {
    top: 30%;
    right: 5%;
    animation: moveDot 2.8s ease-in-out infinite alternate;
}

.dot.left-middle {
    top: 70%;
    left: 5%;
    animation: moveDot 2.3s ease-in-out infinite alternate;
}

.dot.right-middle {
    top: 80%;
    right: 25%;
    animation: moveDot 2.6s ease-in-out infinite alternate;
}

.dot.left-bottom {
    bottom: 15%;
    left: 25%;
    animation: moveDot 2.7s ease-in-out infinite alternate;
}

.dot.right-bottom {
    bottom: 60%;
    right: 35%;
    animation: moveDot 2.4s ease-in-out infinite alternate;
}

@keyframes moveDot {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}