body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(2, 1, 15);
    color: aliceblue;
}

#container {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #657c9b;
}

.ball {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  }
