header {
    background-color: #d4af37;
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1em 0;
}


body{
    margin: 0%;
    padding: 0px;
    background-color: #18206f;
}
a{
    text-decoration: none;
    color: #ffffff;
}

p{
    margin: 0%;
}


.titulo{
    padding: 5px;
}

/*barra de pesquida-------------------------------------------------------*/
.barra2{
    margin: 0%;
    background-color: #d4af37;
    
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 30px;
    z-index: 999;
}

.barra2infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    top: 0px;
    height: 20px;
    width: 90%;
}

.infosfont{
    color: #000000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border: 3px solid #18206f;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

.menu{
    max-height: 30px;
    width: auto;
}
/*fim da barra de pesquida-------------------------------------------------------*/

.separação{
    margin: 15px;
}
/*------------------------------estante dos principais produtos---------------------------------*/

.montra{
    margin: 4%;
}

.titulo_da_estante{
    color: #cbcbd4;
    font-family: sans-serif;
    font-size: larger;
    height: 30;
    border-bottom: 3px solid #cbcbd4 ;
}

.estante{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.Ilustração{
    background-color: #d4af37;
    border: 3px solid #cbcbd4;
    color: #000000;
    border-radius: 4px;
    padding: 3px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.imagem{
    height: auto;
    width: auto;
    max-width:190px;
    max-height: 300px;
}
/*--------------------------fim da estante dos principais produtos-------------------------------*/
.links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 50px;
}

.panel {
    background-color: #d4af37;
    padding: 20px;
    color:#cbcbd4;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.panel_link {
    color: red;
    font-size: 20px;
    font-weight: 120;
    text-decoration: none;
}


