body{
    margin: 0%;
    padding: 0px;
    background-color: #ccffff;
}
a{
    text-decoration: none;
}

p{
    margin: 0%;
}

.barra{
    margin: 0%;
    background-color: #28536b;
    color: #ccffff;
    padding: 0%;
    top: 0px;
    z-index: 999;
}
.titulo{
    padding: 5px;
}
.imagem_para_distracao{
    margin: 0%;
    width: 100%;
    height: auto; 
    background-color: #21465a;
    position: relative;
    padding: 0%;
}
.barra2{
    margin: 0%;
    background-color: #28536b;
    color: #ccffff;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 20px;
    z-index: 999;
}
.separação{
    margin: 15px;
}
.estante{
    margin: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
}
.Ilustração{
    background-color: #fff;
    border: 3px solid #d6d6d6;
    border-radius: 4px;
    padding: 3px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.imagem{
    height: auto;
    width: 190px;
}